* {
    margin: 0px;
    padding: 0px;
}

.block1 {
    width: 60%;
    display: flex;
}

.block2 {
    width: 20%;
    display: flex;
}

.block3 {
    width: 20%;
    display: flex;
    justify-content: flex-end;
	padding-right: 2%;
}

.block3-content {
	margin-right: 20px;
}

.nav-bar-icon {
	margin-top: 2%;
}

.form-center {
    display: flex;
    justify-content: center;
    text-align: center;
}

header {
    margin-bottom: 2%;
}

#profile-icon {
	border-radius: 100px;
	width: 30px;
}

@media screen and (max-width:700px) {
    .d-flex {
        flex-direction: column;
    }

    .block1 {
        width: 100%;
        justify-content: center;
    }

    .block3 {
        width: 100%;
        justify-content: center;
        margin-top: 4%;
    }

}